:root {
  --primarycolor: #ff0000a1;
  --secondarycolor: #03C0C1;
  --primarytextcolor: #333;
  --themecolor: #F2B34E;

  --darkgrey: #272727;
  --dark-featured-product: #313131;
  --login-page-color: #FFBF00;
  --okcolor-dark-mode: lightgreen;
  --okcolor-light-mode: green;
}