.wishlist-title h2{
        font-family: "Times New Roman", Times, serif;
        text-align: center;
        text-transform: uppercase;
        background-color: #7c7777;
        padding: 10px;
        margin: 0 auto;
        border-radius: 12px 12px 0px 0px;
        font-size: 35px;
        color: black;
}


.wishlist-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.wishlist-table th, .wishlist-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.wishlist-table th {
    background-color: #f4f4f4;
}

.wishlist-table img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    vertical-align: middle;
}

.wishlist-table button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.wishlist-table button:hover {
    background-color: darkred;
}