.nav {
  background-color: rgba(170, 162, 162, 0.425);
  height: 100px;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}

/* .logo img{
    width: 70px;
} */

.navbar {
  position: relative;
  padding: 0px 0 10px 0;
  z-index: 1;
}

.navElements {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.navElements,
.icons {
  font-size: 17px;
}
.navbar-list {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}
.nav-toogle {
  transition: 0.5s;
}

.navbar-list a,
.icon {
  display: inline-block;
  padding: 0px 0 16px 16px;
  cursor: pointer;
}

.navbar-list a:hover,
.icon:hover {
  color: var(--primarycolor);
  font-size: 19px;
}

.icons {
  display: flex;
  justify-content: center;
}

.cart {
  position: relative;
}

.icon span {
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: var(--primarycolor);
  top: -10px;
  right: -16px;
  border: 2px solid black;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 12px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourline,
.close {
  display: none;
}

.search-bar {
  display: none;
}

/* Media Queries */

@media (max-width: 990px) {
  .navbar-list a,
  .icon {
    padding: 0px 0 16px 10px;
  }
}

@media (max-width: 768px) {
  .logo {
    margin-bottom: 0px;
  }
  .logo img {
    width: 50px;
    height: 55px;
    position: absolute;
    top: 10px;
    right: 15px;
    margin-top: 8px;
  }

  .navbar {
    padding: 25px 0;
  }

  .navbar-list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 560px;
    height: 100%;
    background-color: white;
    font-size: 29px;
    z-index: 2;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px 16px;
    transition: 0.5s;
    box-shadow: 8px 10px 43px -15px rgba(0, 0, 0, 0.41);
  }

  .icon {
    margin-top: 16px;
    font-size: 29px;
  }
  .icon span {
    width: 30px;
    height: 30px;
    top: -15px;
    font-size: 20px;
    /* right: -16px; */
  }

  .navbar-list a {
    margin-bottom: 16px;
  }

  .icons {
    border-top: 1px solid var(--primarytextcolor);
  }

  .close {
    display: block;
    position: absolute;
    top: 25px;
    right: 40px;
    color: black;
    font-size: 48px;
  }

  .fourline,
  .close {
    cursor: pointer;
  }

  .show {
    right: 0;
  }

  .fourline {
    display: block;
    font-size: 48px;
    color: black;
  }

  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .search-bar input {
    width: 100%;
    height: 26px;
    border: 1px solid var(--themecolor);
    border-radius: 32px;
  }

  .search-form button {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 20px;
    position: absolute;
    right: 0;
    border-radius: 0px 32px 32px 0px;
  }

  .search-icon-nav {
    display: block;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 25px 0px 5px 0px;
  }

  .icon {
    font-size: 25px;
  }

  .navbar-list {
    font-size: 25px;
    padding: 64px 0px;
  }

  .navbar-list a {
    margin-bottom: 8px;
  }
  .search-icon-nav {
    display: block;
  }
}

@media (max-width: 400px) {
  .navbar {
    padding: 25px 0px 0px 0px;
  }

  .icon {
    font-size: 20px;
  }

  .icon span {
    width: 25px;
    height: 25px;
    font-size: 15px;
  }
  .search-icon-nav {
    display: block;
  }
}

@media (max-width: 320px) {
  .icon {
    font-size: 15px;
  }

  .icon span {
    width: 22px;
    height: 22px;
    font-size: 12px;
  }

  .navElements {
    font-size: 12px;
  }

  .nav-toggle {
    font-size: 35px;
    transition: 0.5s;
  }
  .search-icon-nav {
    display: block;
  }
}
